//- Parent template for layouting
extends ../components/layout.pug

include ../components/mixins/_card-post.pug
include ../components/mixins/_card-tag.pug

//- Add variable you can use
block vars
    - var body_class = 'bg-light'
    include ../data/list_posts.pug


block head-content
    include ../components/_head.pug

block title
    title Forgot Password

block body-content
    include ../components/_navbar.pug
    .container.page-content
        .row
            .col-12.col-md-4.offset-md-4
                .mt-4
                    // Card Input
                    .bg-white.p-4.mb-3.shadow-sm
                        h3.mb-4.text-center Forgot password?
                        .mb-3
                        .mb-3
                            label.form-label(for='email') Email
                            input#email.form-control(type='email' placeholder='Email...')
                        .mt-3
                            button.btn.btn-primary.btn-block Send me reset password instructions
                    // ./Card Input

