//- Parent template for layouting
extends ../components/layout.pug

include ../components/mixins/_card-post.pug
include ../components/mixins/_post-filter-tab.pug

//- Add variable you can use
block vars
    - var body_class = 'bg-light'
    include ../data/list_posts.pug


block head-content
    include ../components/_head.pug

block title
    title Tag

block body-content
    include ../components/_navbar.pug
    .container-fluid.page-content
        .row
            .col-12
                include ../components/_card-tag-hero.pug
        .row
            .col-12.col-md-8.offset-md-2
                +post-filter-tab('Posts')
                .mt-4
                    each val in list_posts
                        +card-post(val.author_photo, val.author_name, val.post_published, val.post_image, val.post_title, val.post_tags)
                include ../components/_button-loadmore.pug