.shadow-sm.bg-white
  img.img-fluid(src='https://via.placeholder.com/1000x420?text=placeholder' alt='Cover Post')
  .p-4.mb-3
    .px-4
      .d-flex.flex-column
        h3.mt-2.link-dark Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      .my-3
        a.badge.bg-success.p-2.mr-2.text-decoration-none(href='#') #css
        a.badge.bg-success.p-2.mr-2.text-decoration-none(href='#') #js
        a.badge.bg-success.p-2.mr-2.text-decoration-none(href='#') #html
      .d-flex
        img.d-block.rounded-circle.mr-2(src='../assets/images/photo-1.jpeg' alt='Profile Picture' width='40px' height='40px')
        .d-flex.flex-column
          a(href='profile.html').mb-0.text-decoration-none.text-body
            strong Yusuf Fazeri
          small.text-muted Nov 7 - 1 min read
      .mt-4
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo voluptatum et quod error praesentium ullam atque ex, laboriosam aliquam consequuntur non quos! Earum nobis aliquid hic velit architecto magni?
