.bg-white.p-4.mb-3.shadow-sm
  .px-4
    // Header Discussion
    .d-flex.justify-content-between.my-4
      h3 Discussion
    // ./Header Discussion
    // Create Discussion
    div
      .d-flex.align-items-center.mb-2
        img.d-block.rounded-circle.mr-3(src='../assets/images/photo-1.jpeg' alt='Profile Picture' width='40px' height='40px')
        .d-flex.flex-row.align-items-center
          .d-flex.flex-column
            .d-flex.flex-row.align-items-center
              small.mb-0
                strong
                  a.text-decoration-none.text-dark(href='profile.html') Yusuf Fazeri
      .d-flex.pl-4
        .form-group.w-100
          textarea.form-control.ml-4(name='comment')
          button.btn.btn-outline-primary.mt-2.ml-4 Send
    // ./Create Discussion
    hr.my-4
    // Discussion Lvl 1
    div
      .d-flex.align-items-center.justify-content-between.mt-4
        .d-flex
          img.d-block.rounded-circle.mr-3(src='../assets/images/photo-2.jpg' alt='Profile Picture' width='40px' height='40px')
          .d-flex.flex-row.align-items-center
            .d-flex.flex-column
              .d-flex.flex-row.align-items-center
                small.mb-0
                  strong
                    a.text-decoration-none.text-dark(href='profile.html') Alif Apriyanto
                small.text-muted.ml-4 20 Nov, 2020
      .d-flex.pl-4
        .w-100.pl-4
          .ml-2
            p.mb-0
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem tempora, aliquid inventore eveniet placeat qui et porro voluptatibus nemo molestiae quasi quod voluptatum dolores quisquam facilis non perspiciatis!
              | Magni, sapiente.
          .d-flex.justify-content-start.ml-2
            button.btn.btn-sm.btn-dark.m-1.mt-4
              i.fas.fa-reply
              |  Reply
            button.btn.btn-sm.btn-outline-dark.m-1.mt-4(data-toggle='collapse' data-target='#collapse-comment-1' aria-expanded='false' aria-controls='collapse-comment-1')
              i.fas.fa-reply
              |  Show reply 96
    // ./Discussion Lvl 1
    // Discussion Lvl 2
    #collapse-comment-1.collapse
      .ml-4.pl-4
        .d-flex.align-items-center.justify-content-between.mt-4
          .d-flex
            img.d-block.rounded-circle.mr-3.ml-2(src='../assets/images/photo-1.jpeg' alt='Profile Picture' width='30px' height='30px')
            .d-flex.flex-row.align-items-center
              .d-flex.flex-column
                .d-flex.flex-row.align-items-center
                  small.mb-0
                    strong
                      a.text-decoration-none.text-dark(href='profile.html') Yusuf Fazeri
                  small.text-muted.ml-4 20 Nov, 2020
        .d-flex.pl-4
          .w-100.pl-4
            .ml-2
              small.mb-0
                strong @alifapriyanto
                |  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem tempora, aliquid inventore
                |                                 eveniet placeat qui et porro voluptatibus nemo molestiae quasi quod voluptatum dolores quisquam facilis
                |                                 non perspiciatis! Magni, sapiente.
            .d-flex.justify-content-start.ml-2
              button.btn.btn-sm.btn-dark.m-1.mt-4
                i.fas.fa-reply
                |  Reply
      // ./Discussion Lvl 2
      // Discussion Lvl 2
      .ml-4.pl-4
        .d-flex.align-items-center.justify-content-between.mt-4
          .d-flex
            img.d-block.rounded-circle.mr-3.ml-2(src='../assets/images/photo-3.jpg' alt='Profile Picture' width='30px' height='30px')
            .d-flex.flex-row.align-items-center
              .d-flex.flex-column
                .d-flex.flex-row.align-items-center
                  small.mb-0
                    strong
                      a.text-decoration-none.text-dark(href='profile.html') Juwadi
                  small.text-muted.ml-4 20 Nov, 2020
        .d-flex.pl-4
          .w-100.pl-4
            .ml-2
              small.mb-0
                strong @joesoeph
                |  Lorem ipsum dolor sit amet consectetur adipisicing
                |                                 elit. Autem tempora, aliquid inventore
                |                                 eveniet placeat qui et porro voluptatibus nemo molestiae quasi quod voluptatum dolores quisquam
                |                                 facilis
                |                                 non perspiciatis! Magni, sapiente.
            .d-flex.justify-content-start.ml-2
              button.btn.btn-sm.btn-dark.m-1.mt-4
                i.fas.fa-reply
                |  Reply
      // ./Discussion Lvl 2
