.bg-white.p-4.mb-3.shadow-sm
  .px-4
    .d-flex.flex-column.my-4
      h3 Read Next
    .d-flex.align-items-center.mb-4
      img.d-block.rounded-circle.mr-3(src='../assets/images/photo-1.jpeg' alt='Profile Picture' width='70px' height='70px')
      .d-flex.flex-row.align-items-center
        .d-flex.flex-column
          h5
            a.text-decoration-none.text-body(href='post-read.html') Lorem ipsum dolor sit amet consectetur adipisicing elit.
          .d-flex.flex-row.align-items-center
            small.mb-0
              strong
                a.text-decoration-none.text-dark(href='profile.html') Yusuf Fazeri
            small.text-muted.ml-4 20 Nov, 2020
      hr
