.bg-dark.p-4.mb-3.shadow-sm
    .px-4
        .d-flex.flex-column.my-4
            small.text-light Posted on Nov 03 by:
        .d-flex
            img.d-block.rounded-circle.mr-3.border.border-white.border-3(src='../assets/images/photo-1.jpeg' alt='Profile Picture' width='70px' height='70px')
            .d-flex.flex-row.align-items-center
                .d-flex.flex-column
                    h5.mb-0
                        a.text-decoration-none.text-white(href='profile.html') Yusuf Fazeri
                    small.mb-0
                        strong
                            a.text-decoration-none.text-white(href='profile.html') @joesoeph
                    .my-2.text-light
                        | I am a web developer and software engineer. I deliver all my knowledge to people for free.
        .d-flex.justify-content-end.align-items-center.mt-3
            .d-flex.w-25.justify-content-end.mr-3
                a.d-block.text-light.mx-2(href='#')
                    i.fab.fa-github
                a.d-block.text-light.mx-2(href='#')
                    i.fas.fa-link
            button.btn.btn-primary Follow