.ml-3.sticky-top.sticky-top-gap.align-self-start.shadow-sm
    .d-flex.flex-column.bg-white.p-3
        .d-flex.flex-column.align-items-center
            img.d-block.rounded-circle.mr-2(src='../assets/images/photo-1.jpeg' alt='Profile Picture' width='80px' height='80px')
        a.d-flex.flex-column.align-items-center.text-decoration-none.text-dark(href='profile.html')
            p.mb-0
            strong Yusuf Fazeri
            small @joesoeph
        small.mt-3
            | I am a web developer and software engineer. I deliver all my knowledge to people for free.
        button.btn.btn-block.btn-primary.mt-3 Follow
        ul.list-unstyled.mt-4
        li.d-flex.flex-column.mb-2
            strong.text-uppercase
                small work
            small.text-muted Software Engineer
        li.d-flex.flex-column.mb-2
            strong.text-uppercase
                small location
            small.text-muted Jakarta
        li.d-flex.flex-column.mb-2
            strong.text-uppercase
                small joined
            small.text-muted Nov 01, 2020
        .d-flex.justify-content-around.mt-4
            a.d-block.text-muted(href='#')
                i.fab.fa-github
            a.d-block.text-muted(href='#')
                i.fas.fa-link
