.bg-white.p-4.shadow-sm.border-top.border-5.border-primary.mb-4
  .d-flex.justify-content-between
    a.text-dark.text-decoration-none(href='#')
      h2.text-lg JavaScript
    button.btn.btn-outline-dark Follow
  p.mt-4
    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, fugiat fuga magni omnis ab possimus sapiente ad officia iste veniam voluptatum, mollitia veritatis laborum earum quia illum aspernatur. Libero, corrupti.
  small.text-muted 4655 posts published