.mr-4
  .d-flex.flex-column
    a.d-block.btn.btn-light.text-left.mb-1(href='dashboard-posts.html')
      span Posts
      span.badge.bg-secondary.float-right 4
    a.d-block.btn.btn-light.text-left.mb-1(href='dashboard-followers.html')
      span Followers
    a.d-block.btn.btn-light.text-left.mb-1(href='dashboard-following-tags.html')
      span Following Tags
    a.d-block.btn.btn-light.text-left.mb-1(href='dashboard-following-users.html')
      span Following Users