#modal-share.modal.fade(tabindex='-1' aria-labelledby='modal-share-label' style='display: none;' aria-hidden='true')
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        h3 Share to Social Media
      .modal-body
        a.d-block.btn.btn-light.text-left.mb-1(href='#')
          span Share to Facebook
        a.d-block.btn.btn-light.text-left.mb-1(href='#')
          span Share to Twitter
        a.d-block.btn.btn-light.text-left.mb-1(href='#')
          span Share to LinkedIn
