.d-flex.justify-content-evenly.bg-light.fixed-bottom.border-top.border-1.d-md-none
  a.d-block.btn.btn-light.text-center.mb-1.p-2(href='#')
    span.far.fa-lg.fa-heart
    span.mb-0 
    |0
  a.d-block.btn.btn-light.text-center.mb-1.p-2(href='#')
    span.far.fa-lg.fa-bookmark
    span.mb-0 
    |0
  a.d-block.btn.btn-light.text-center.mb-1.p-2(href='#' data-toggle='modal' data-target='#modal-share')
    span.fas.fa-lg.fa-ellipsis-h
