.sticky-top.sticky-top-gap.align-self-start.pt-4.d-none.d-md-block
  .d-flex.flex-column
    a.d-block.btn.btn-light.text-center.mb-1.p-2(href='#')
      span.far.fa-lg.fa-heart
      p.mb-0 0
    a.d-block.btn.btn-light.text-center.mb-1.p-2(href='#')
      span.far.fa-lg.fa-bookmark
      p.mb-0 0
    a.d-block.btn.btn-light.text-center.mb-1.p-2(href='#' data-toggle='modal' data-target='#modal-share')
      span.fas.fa-lg.fa-ellipsis-h
