.mr-4.mt-4
    a(href="setting-profile.html").d-block.btn.btn-light.text-left.mb-1
        span Profile
    a(href="setting-account.html").d-block.btn.btn-light.text-left.mb-1
        span Account
    a(href="setting-notifications.html").d-block.btn.btn-light.text-left.mb-1
        span Notifications