.mr-4
    div
        .d-flex.justify-content-between.align-items-center
            h2.pl-3 Tags
            small
                a.text-muted.text-decoration-none(href='tags.html') See all
        .tag-container
            a.d-block.btn.btn-light.text-left.mb-1(href='tag.html')
                span #css
            a.d-block.btn.btn-light.text-left.mb-1(href='tag.html')
                span #react
            a.d-block.btn.btn-light.text-left.mb-1(href='tag.html')
                span #php
            a.d-block.btn.btn-light.text-left.mb-1(href='tag.html')
                span #javascript
            a.d-block.btn.btn-light.text-left.mb-1(href='tag.html')
                span #hosting
            a.d-block.btn.btn-light.text-left.mb-1(href='tag.html')
                span #framework