- 
    var list_posts = [
        {
            'author_photo': '../assets/images/photo-1.jpeg',
            'author_name': 'Yusuf Fazeri',
            'post_published': 'Nov 7 (7 hours ago)',
            'post_image': 'https://via.placeholder.com/1000x420?text=placeholder',
            'post_title': 'Lorem ipsum dolor sit amet consectetur, adipisicing elit.',
            'post_tags': ['#css', '#js', '#html']
        },
        {
            'author_photo': '../assets/images/photo-2.jpg',
            'author_name': 'Alif Apriyanto',
            'post_published': 'Nov 7 (8 hours ago)',
            'post_image': 'https://via.placeholder.com/1000x420?text=placeholder',
            'post_title': 'Lorem ipsum dolor sit amet consectetur, adipisicing elit.',
            'post_tags': ['css', 'js', 'html']
        },
        {
            'author_photo': '../assets/images/photo-3.jpg',
            'author_name': 'Juwadi',
            'post_published': 'Nov 7 (9 hours ago)',
            'post_image': 'https://via.placeholder.com/1000x420?text=placeholder',
            'post_title': 'Lorem ipsum dolor sit amet consectetur, adipisicing elit.',
            'post_tags': ['css', 'js', 'html']
        }
    ]