- 
    var list_followers = [
        {
            'photo': '../assets/images/photo-2.jpg',
            'fullname': 'Alif Apriyanto',
            'username': '@alifapriyanto',
        },
        {
            'photo': '../assets/images/photo-3.jpg',
            'fullname': 'Juwadi',
            'username': '@juwadi',
        },
        {
            'photo': '../assets/images/photo-4.jpg',
            'fullname': 'Tri Wahyuni',
            'username': '@triw',
        },
    ]