mixin card-tag(tag_name)
  .bg-white.mb-4.p-4.shadow-sm.border-top.border-5.border-primary
    a.text-dark.text-decoration-none(href='tag.html')
      h4.text-lg #{tag_name}
    p.mt-4 
      | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, fugiat fuga magni omnis ab possimus sapiente ad officia iste veniam voluptatum, mollitia veritatis laborum earum quia illum aspernatur. Libero, corrupti.
    small.text-muted 4655 posts published
    .mt-4.text-right
      button.btn.btn-outline-dark Follow